 html{
		height: 100%;
		box-sizing: border-box;
		position: relative;
	}

	body{
		position: relative;
		height: 100%;
		background-color: #f8f3ed;
	}

	h1{
		color:#49361d;
	}

	p{
		color:#49361d;
	}

	.header{
		margin-top:60px;
		margin-bottom:20px;
		width:100%;
		height:60px;   /* Height of the header */
		background:#d4b791;
		text-align: right;
	}

	.header-content{
    	position:relative;
		text-align: right;
		height: 100%;
    }

    #topnavbar{
    	position: relative;
    	height: 10%;
    }

	#topnavbar .btn-default{
		background-color: #d4b791;
		border: 2px solid #d4b791;
		height: 100%;
		margin-left: -10px;
		border-radius: 0px;
		font-size: 16px;
		font-family: rockwell;
	}
	#topnavbar .btn-default:hover{
		background-color: #815e32;
		color: #f8f3ed;
		border: 2px solid #815e32;
	}

	.btn-default{
		color: #815e32;
		border: 2px solid #815e32; /*change to pinks and/or blues?*/
		font-family: rockwell;
		background-color: #fffaf0;
	}
	.btn-default:hover{
		background-color: #815e32;
		color: #f8f3ed;
		border: 2px dashed #f8f3ed;
	}

	#food-button .btn-default{
		width: 225px;
		position: relative;
		top: -5px;
	}
	#drink-button .btn-default{
		width: 225px;
		position: relative;
		top: -5px;
	}
	#rabbit-button .btn-default{
		width: 225px;
		position: relative;
		top: -5px;
	}

	.main-body{
		margin: 0 auto;
		width: 80%;
		height: 100%;
		position: relative;
		flex: 1 0 auto;
 		padding: 20px;
	}

	.banner-text-container{
		height: 20%;
		width: 98.3%;
		padding-top: 10px;
		padding-bottom: 5px;
		padding-left: 20px;
		padding-right: 20px;
		background: rgba(255, 255, 255, .7);
		position: relative;
		left:0.85%;
		float: bottom;
		color: #49361d;
	}/*change hover for link*/

	.banner-text-container a{
		color: #815e32;
	}



    .footer{
    	position:absolute;
    	float: bottom;
		padding-bottom: 120px;
		width:100%;
		height:170px;   /* Height of the footer */
		background:#d4b791;
		overflow:hidden;
    }

    .footer-content{
    	position:relative;
    	top: 50%;
		text-align: center;
		color: #49361d;
		font-family: rockwell;
    }
    .footer-content a{
    	color: #815e32;
    }

